/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

ul.nav{
	font-family: 'Arvo', courier, serif;
}

ul.nav{
	font-size: 13px;
}
footer{
	background-color: #f74c3c;
    padding-top: 50px;
    padding-bottom: 30px;
    font-size: 19px;
    color: white;
}

#productos-lana{
	background-color: #f5f5f5;
}

.jumbotron{
	text-align: center;
	background-image: url('../images/ovejas3.png');
	color: white;
}

.jumbotron h1{
	font-family: 'Arvo', courier, serif;
	margin-top: 0px;
	margin-bottom: 50px;
	
}

.jumbotron p{
	margin-bottom: 30px;
	font-weight: 100;
	padding: 0 60px;
	font-size: 28px;
}

.btn-lg{
	font-size: 22px;
}

.logo{
	font-family: 'Libre Baskerville', serif;
	font-size: 33px;
}

.homepage{
	text-align: center;
	padding-bottom: 30px;
    padding-top: 30px;
}

.homepage .row{
	padding-top: 20px;
}	

.homepage h2, .homepage h3{
	color: #e74c3c;
    font-family: 'Arvo', courier, serif;
    text-transform: uppercase;
}

.homepage h2{
	font-size: 30px;
}

.homepage h3{
    font-size: 26px;
}

.homepage p{
	font-size: 21px;
	font-weight: 300;
}

.homepage a{
	color: #e74c3c;
}

.homepage a:hover{
	color: #e74c3c
	text-decoration: none;
	opacity: .8;
}

.homepage hr{
	border-top: 1px solid#e74c3c;
    width: 160px;
    margin-top: 15px;
}

/*Responsive Styling*/
@media (max-width: 1199px){
	.jumbotron h1{
		font-size: 56px;
		margin-bottom: 30px;
	}
}

@media (max-width: 991px){
	.jumbotron h1{
		font-size: 44px;
	}

	.jumbotron p{
		padding: 0 10px;
	}

	#get-involved .col-md-4{
		padding-top: 20px;
		padding-bottom: 20px;
	}
}

@media (max-width: 767px){
	.jumbotron h1{
		font-size: 24px;
	}

	.jumbotron p{
		font-size: 15px;
		padding: 0;
	}

	.btn-lg{
		font-size: 18px;
	}
	
	.homepage p{
		font-size: 18px;
	}
	
	footer img{
		width: 80%;
	}
}